/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 juin 2020, 08:54:26
    Author     : raphael.galano
*/

#Milieu {
    margin-top: 80px;
    background-image:url(../images/elfes/foretElfe.jpg);
    background-attachment:fixed;
    width: 100%;
}

#contenu h1 {
    text-align: center;
    font-family: 'Elfique';
    color: black;
}

@font-face{
    font-family: "Elfique";
    src: url('polices/Beyond_Wonderland.ttf') format("truetype");
}

#contenu {
    margin-left: 380px;
    margin-right: 380px;
    background-image: url(../images/elfes/Wood Texture Lines.jpg);
}

.debut {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#musique {
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    flex-direction: column;
    border : 2px solid forestgreen;
    border-radius: 10px;
    padding: 15px;
    background-color: lightgray;
    text-align: center;
}

#musique h3, #musique p, #news h3 {
    font-family: 'Elfique';
}

#news {
    margin-top: 20px;
    margin-bottom: 20px;
    border : 2px solid forestgreen;
    border-radius: 10px;
    padding: 15px;
    background-color: lightgray;
    text-align: center;
    display: box;
}

.postit{
    display: flex;
    flex-direction: row;
}

.postit1{
    text-align: center;
    font-size: 20px;
    color: white;
    background-image: url(../images/antiquitC3A9-scroll-parchemin-banque-de-photographie_csp33244905.png);
    padding: 5px;
    color: black;
    margin: 2px;
}