/* 
    Created on : 2 juin 2020, 15:43:35
    Authors     : luc CHERMETTE, Thibaud VAISSEAU, Raphaël GALANO
*/

#title {
    margin-top: 90px;
    text-align: center;
}

#equipe {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: justify; /*On écrit en mode justifié*/
    justify-content: space-around;
}

#equipe aside {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 300px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    border: 3px solid tan;
    border-radius: 10px;
    background-color: darkseagreen;
    font-weight: bold;
    
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
}

#DescriptionEquipe {
    margin-top: 20px;
    border: 3px solid darkseagreen;
    border-radius: 10px;
    background-color: tan;
}


#Compo {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
#formulaire {
    border: 3px solid darkseagreen;
    border-radius: 10px;
    background-color: tan;
    padding: 15px;
    margin-bottom: 20px;
}
