/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 juin 2020, 08:54:26
    Author     : Thibaud VAISSEAU
*/


/*_________________________________PAGE________________________________*/
.slideText {
    color: grey;
    font-size: x-large;
    font-weight: bold; 
}

.slideText2 {
    color: gray;
    font-size: x-large;
    font-weight: bold;
}

.carousel-inner {
    width: 1200px;
    margin-left: 350px;
}

.carousel-control-prev{
    margin-left: 200px;
}

.carousel-control-next{
    margin-right: 200px;
}

#TexteIntro {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    text-align: justify; /*On écrit en mode justifié*/
    justify-content: space-around;
}

#TexteIntro article, #TexteIntro div{
    flex: 1; /*Pour que chaque élément occuper un espace idéal*/
}

.sousTitre, .Titre {
    text-align: center; /*On aligne le texte au centre*/
    font-weight: bold;
}

#TexteIntro h5 {
    text-align: center;
}

#TexteIntro p {
    font-size: large;
}

#Direction {
    margin-left: 400px;
}

#TexteIntro aside {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 300px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    background-color: lightgrey;
    font-weight: bold;
}

#TexteIntro aside img {
    border : solid thin black;
    border-radius: 10px;
    background-color: white;
}

#TexteIntro aside img:hover {
    padding: 10px;
}

#Titre2 {
    margin-top: 30px;
}

#tabEvenements {
    margin-top: 5px;
    margin-bottom: 30px;
    width: 880px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid cornflowerblue;
    background-color: beige;
}

.sousTab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.evenement {
    display: flex;
    flex: 2;
    flex-direction: column;
    border: 2px solid cornflowerblue;
    background-color: lightgrey;
    text-align: center;
}
.evenement:hover {
    padding: 10px;
}

.evenement p {
    padding: 5px;
}

/*________________________ADAPTATION MOBILE______________________________*/

@media screen and (max-width:768px)     
{
    .carousel-inner {
        height: 800px;
        width: 100%;
        margin-left: 0px;
    }
    
    .carousel-control-prev {
        margin-right: 0px;
    }

    .carousel-control-next {
        margin-left: 0px;
    }
    
    .carousel-control-prev {
        margin-left: 20px;
    }

    .carousel-control-next {
        margin-right: 20px;
    }
    
    .slideTex, .slideText2 {
        margin-bottom: 50px;
    }
    
    #TexteIntro {
        flex-direction: column;
    }
    
    #TexteIntro article {
        padding: 10px;
    }
    
    #Direction {
        margin-left: 130px;
    }
    
    #TexteIntro aside {
        margin-left: 40px;
    }
    
    #tabEvenements {
        width: 100%;
        padding: 20px;
    }
    
    .sousTab {
        flex-direction: column;
    }
    
    footer {
        margin-top: 150px;
    }
}
