/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 juin 2020, 08:54:26
    Author     : raphael.galano
*/

@font-face{
    font-family: "PlainGermanica";
    src : url(../css/polices/Plain_Germanica.ttf) format("truetype");
}

.fond{
    background-image:url(../images/2697-montagnes-enneigees-WallFizz.jpg);
    background-attachment:fixed;
    width: 100%
}

.panneaux {
    margin-left: 380px;
    margin-right: 380px;
    background-image: url(../images/panneau-mural-en-veritable-pierre-naturelle-200-x-100-cm-gris-u-tile.jpg);
}

.titre, .txtmusique, .news, .job, .polrou, .recommandations, .postit1, .postit2, .postit3, #desctav, #titrereco, #titreann {
    font-family: 'PlainGermanica';
}

.titre {
    text-align: center;
    font-size: 100px;
}

.para1, .para2{
    display:flex;
}

.musique{
    border: 2px solid #2d2d2d;
    border-radius: 10px;
    background-color: gray;
    display: block;
    padding-left: 20px;
    padding-bottom: 20px;
}

#txtmusique{
    padding-left: 90px;
    font-size: 30px;
}

.vidmusique {
    text-align: left;
}

.txtmusique{
    color: white;
}

#desc1, #desc2 {
    padding-left: 20px;
}

.pan1{
    border: 2px solid #2d2d2d;
    border-radius: 10px;
    background-color: gray;
    margin-left: 50px;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
}

.job{
    background-image: url(../images/vieux-panneau-en-bois-18882072_1.jpg);
    margin-left: 50px;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
}

.news, #titreann {
    text-align: center;
    font-size: 40px;
    color: white;
}

.postit{
    display: flex;
}

.postit1, .postit2, .postit3{
    font-size: 20px;
    color: white;
    background-color: yellow;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: black;
}

.recommandations {
    display: block;
    border: 2px solid #2d2d2d;
    border-radius: 10px;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
#titrereco{
    margin-bottom: 10px;
    font-size: 40px;
    color: white;
    text-align: center;
}

#phototav{
    text-align: center;
}

#desctav{
    margin-top: 10px;
    font-size: 20px;
    color: white;
}