/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 juin 2020, 08:54:26
    Author     : raphael.galano
*/

@font-face{
    font-family: "PlainGermanica";
    src : url('../css/polices/Plain_Germanica.ttf') format("truetype");
}

.fond{
    margin-top: 80px;
    background-image:url(../images/2697-montagnes-enneigees-WallFizz.jpg);
    background-attachment:fixed;
    width: 100%
}

.panneaux {
    margin-left: 380px;
    text-align: center;
    margin-right: 380px;
    background-image: url(../images/panneau-mural-en-veritable-pierre-naturelle-200-x-100-cm-gris-u-tile.jpg);
}

.titre, .txtmusique, .news, .job, .polrou, .recommandations, .postit1, #desctav, #titrereco, #titreann {
    font-family: "PlainGermanica";
}

.titre {
    text-align: center;
    font-size: 100px;
    font-family: "PlainGermanica";
}

.para1, .para2 {
    display: flex;
}

.musique {
    border: 2px solid #2d2d2d;
    border-radius: 10px;
    background-color: gray;
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
}

.txtmusique {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.vidmusique {
    text-align: left;
}

#desc1, #desc2 {
    padding-left: 20px;
}

.pan1{
    border: 2px solid #2d2d2d;
    border-radius: 10px;
    background-color: gray;
    padding: 10px;
    display: block;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.job{
    background-image: url(../images/vieux-panneau-en-bois-18882072_1.jpg);
    padding: 20px;
    margin: 17px;
    display: block;
}

.news, #titreann {
    text-align: center;
    font-size: 40px;
    color: white;
}

.postit{
    display: flex;
}

.postit1{
    text-align: center;
    font-size: 20px;
    color: white;
    background-image: url(../images/antiquitC3A9-scroll-parchemin-banque-de-photographie_csp33244905.png);
    padding: 5px;
    color: black;
    margin: 2px;
}

.recommandations {
    padding: 15px;
    display: block;
    border: 2px solid #2d2d2d;
    border-radius: 10px;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
#titrereco{
    margin-bottom: 10px;
    font-size: 40px;
    color: white;
    text-align: center;
}

#phototav{
    text-align: center;
}

#desctav{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

.choix {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
    width: 98%;
    display: block;
    border: 2px solid #2d2d2d;
    border-radius: 10px;
    background-color: gray;
}