/* 
    Created on : 2 juin 2020, 15:43:35
    Authors     : luc CHERMETTE, Thibaud VAISSEAU, Raphaël GALANO
*/


/*_________________________________GENERAL________________________________*/
* {
    font-family: 'Montserrat'; /* Police par défaut */
    box-sizing: border-box; /* Les tailles de conteneurs incluent bordures et remplissages */
    margin: 0; /* Mise à 0 des marges externes */
    padding: 0; /* Mise à 0 des marges internes */
    text-decoration: none; /* Suppression de la mise en forme habituelle des liens (soulignements) */
}

/* Définition de la police "Calibri" */
@font-face{
    font-family: "Montserrat";
    src : url('polices/Montserrat-Regular.ttf') format("truetype");
}

/*Adaptation de la page*/
body {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    flex-direction: column; /* les éléments sont empilés */
    align-items: center; /* les éléments portés sont centrés à la verticale */ 
    width: 100% /* La page occupe toute la largeur */
}

section {
    /*width: 916px;*/
    width: 1200px;
}

/*_________________________________BARRE DE NAVIGATION________________________________*/
nav {
    width: 100%; /* La barre de navigation occupe toute la largeur */
    height: 80px;
}

.navbar {
    align-items: center;
    justify-content: space-around;
    font-size: large;
}

.navnar form {
    align-items: flex-end;
}

/*_________________________________CAROUSEL________________________________*/
#carouselExampleCaptions {
    width: 100%;
    margin-top: 61px;
}

/*_________________________________PAGE________________________________*/
.slideText {
    color: grey;
    font-size: x-large;
    font-weight: bold; 
}

.slideText2 {
    color: black;
    font-size: x-large;
    font-weight: bold;
}

#TexteIntro {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    text-align: justify; /*On écrit en mode justifié*/
    justify-content: space-around;
}

#TexteIntro article, #TexteIntro div{
    flex: 1; /*Pour que chaque élément occuper un espace idéal*/
}

.sousTitre, .Titre {
    text-align: center; /*On aligne le texte au centre*/
    font-weight: bold;
}

#TexteIntro h5 {
    text-align: center;
}

#Direction {
    margin-left: 400px;
}

#TexteIntro aside {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 300px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    background-color: lightgrey;
    font-weight: bold;
}

#TexteIntro aside img {
    border : solid thin black;
    border-radius: 10px;
    background-color: white;
}

#TexteIntro aside img:hover {
    padding: 10px;
}

#Titre2 {
    margin-top: 30px;
}

#tabEvenements {
    margin-top: 5px;
    margin-bottom: 30px;
    width: 880px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 2px solid cornflowerblue;
    background-color: beige;
}

.evenement {
    display: flex;
    flex-direction: column;
    border: 2px solid cornflowerblue;
    background-color: lightgrey;
    text-align: center;
}

.evenement p {
    padding: 5px;
}

/*_________________________________FOOTER________________________________*/
footer {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    position: relative; 
    bottom: 0px; /* Bas */
    height: 10px; /* Hauteur */
    width: 100%; /* Le pied de page occupe toute la largeur */ 
}


.row{
    background-color: gray; /* Couleur de fond */
    text-align: center;
}

.card-body{
    background-color: gray; /* Couleur de fond */
}


footer h3 {
    color: black; /* Couleur du texte */
}


footer a{
    color: #2d2d2d; /* Couleur du lien identique à celle du conteneur */
}
